{% if json_data is not empty %}
<table id="stock-table">
    <thead>
        <tr>
            <th>{{ 'Stock Name'|t }}</th>
            <th>{{ 'Symbol'|t }}</th>
            <th>{{ 'Currency'|t }}</th>
            <th>{{ 'Type'|t }}</th>
            <th>{{ 'Open'|t }}</th>
            <th>{{ 'High'|t }} <div class="up_arrow"></div></th>
            <th>{{ 'Low'|t }} <div class="down_arrow"></div></th>
            <th>{{ 'Close'|t }}</th>
            <th>{{ 'Date'|t }}</th>
        </tr>
    </thead>
    <tbody>
    {% for key,item in json_data %}
        <tr>
            <td><b>{{ key }}</b></td>
            <td>{{ item.meta.symbol|t }}</td>
            <td>{{ item.meta.currency ?? item.meta.currency_base}}</td>
            <td>{{ item.meta.type|t }}</td>
            <td>{{ item.values.0.open|t }}</td>
            <td>{{ item.values.0.high|t }}</td>
            <td>{{ item.values.0.low|t }}</td>
            <td>{{ item.values.0.close|t }}</td>
            <td>{{ item.values.0.datetime|t }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% else %}
    <div>No data found!</div>
{% endif %}